# Mac
.DS_Store

# AppWarp
AppWarp/
!AppWarp_readme.txt

# DirectXTK
DirectXTK/
!DirectXTK/DirectXTK_readme.txt

# libpng
libpng/
!libpng/Android.mk
!libpng/libpng_readme.txt

# rapidjson
rapidjson/
!rapidjson/rapidjson_readme.txt

# Eclipse
bin/
gen/
*.class
*.dex
*.apk
*.ap_
obj/
armeabi/
armeabi-v7a/
mips/
x86/

# Xcode
*.xcuserdatad/
xcshareddata/

# Visual Studio
*.user
*.*sdf
*.suo
ARM/
Debug/
/src/platform/server/build/

# NetBeans
dist/
build/
private/
!private/project.xml
!private/project.properties
*.log
*.dll
HSQLDBFile*.*
*.mf
*.lck