# Mac
.DS_Store

# Windows
Thumbs.db

# AppWarp
AppWarp/
!AppWarp_readme.txt

# GoogleMobileAdsSdkWindowsPhone8-6.5.13
GoogleMobileAdsSdkWindowsPhone8-6.5.13/
!GoogleMobileAdsSdkWindowsPhone8-6.5.13/GoogleMobileAdsSdkWindowsPhone8-6.5.13_readme.txt

# GoogleMobileAdsSdkiOS-6.12.0
GoogleMobileAdsSdkiOS-6.12.0/
!GoogleMobileAdsSdkiOS-6.12.0/GoogleMobileAdsSdkiOS-6.12.0_readme.txt

# google-play-services_lib
google-play-services_lib/
!google-play-services_lib/google-play-services_lib_readme.txt

# gson
gson/
!gson/gson_readme.txt

# libpng
libpng/
!libpng/Android.mk
!libpng/libpng_readme.txt

# rapidjson
rapidjson/
!rapidjson/rapidjson_readme.txt

# Newtonsoft.Json, Windows Phone Toolkit, Coding4Fun.Toolkit
packages/
Toolkit.Content/

# Eclipse
bin/
gen/
*.class
*.dex
*.apk
*.ap_
obj/
armeabi/
armeabi-v7a/
mips/
x86/

# Xcode
*.xcuserdatad/
xcuserdata/
xcshareddata/

# Visual Studio
*.ipch
*.user
*.*sdf
*.suo
ARM/
Debug/
Release/

# NetBeans
dist/
build/
private/
jdkinclude/
Logs/
!private/project.xml
!private/project.properties
*.log
*.dll
HSQLDBFile*.*
*.mf
*.lck
.dep.inc